html {
    font-family: 'Open Sans', sans-serif;
    background-color: darkslategray;
}

div.outer {
    width: 600px;
    margin: auto;
}

div.inner_profile {
    margin: auto;
    width: 560px;
}

h1 {
    text-align: center;
    color: aliceblue;
}

img {
    margin-left: 60px;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    border-radius: 50%;
}

p.profile {
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 240px;
    text-align: left;
    color: azure;
}

a.department {
    color: greenyellow;
}

a.faculty {
    color: chocolate;
}

a.university {
    color: peru;
}

a.quote {
    color: aqua;
}

a.course {
    color: aquamarine;
}

h2 {
    color: aquamarine;
}

table {
    color: aliceblue;
}

th {
    color: aqua;
}

li {
    color: aliceblue;
}

li span.trail {
    color: chartreuse;
}

p.form {
    color: aliceblue;
}

textarea {
    resize: none;
}

button {
    display: block;
}