html {
    font-family: 'Open Sans', sans-serif;
    background-color: aquamarine;
}

img.center {
    display: block;
    width: 50%;
    margin: 0 auto;
}
div {
    margin: auto;
    width: 500px;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    margin-left: 10px;
}

table {
    margin-left: 10px;
}