html {
    font-family: 'Open Sans', sans-serif;
    background-color: aquamarine;
}

img.center {
    display: block;
    width: 30%;
    margin: 0 auto;
}
div {
    margin: auto;
    width: 600px;
}

p {
    text-align: justify;
}

p span.name {
    color: red;
}

td.test {
    color: red;
}

h1 {
    text-align: center;
    color: black;
}

div.test {
    color: orange;
}

h2 span.test2 {
    color: blue;
}

.name

h2 {
    margin-left: 10px;
}

table {
    margin-left: 10px;
}