html {
    font-family: 'Poppins', sans-serif;
}

div.name_header {
    margin-top: 50px;
    margin-left: 50px;
}

h2 {
    line-height: 10px;
    font-size: 50px;
}

div.container {
    display: -webkit-inline-box;
    background-color: yellow;
    width: 100vh;
    height: 80vh;
}

div.menu {
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 100px;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

div.menu_link {
    display: block;
    text-align: left;
}

div.detail {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    width: 70%;
    display: block;
    text-align: center;
    overflow-y: scroll;
    background-color: whitesmoke;
}

div.profile {
    display: inline;
    background-color: ivory;
    width: 100%;
}

a {
    text-decoration: none;
    line-height: 50px;
    display: block;
    color: dimgray;
}

img.profile {
    border-radius: 50%;
    width: 200px;
}